<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Icon -->
      <div class="fadeIn first">
          <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="large" [style]="{'background-color':'#56baed', 'color': '#ffffff'}" shape="circle"></p-avatar>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" [(ngModel)]="username" id="login" class="fadeIn second" name="login" placeholder="login">
        <p-password [feedback]="false" type="password" [(ngModel)]="password" id="password" class="fadeIn third" name="login" placeholder="password"> </p-password>
        <button [disabled]="!username || !password " pButton pRipple (click)="login()"  type="button" label="Se connecter" class="p-button-raised btn"></button>
      </form>
  
    </div>
  </div>
  <p-toast></p-toast>
  <p-toast position="top-center" key="tc"></p-toast>