
<div class="card p-shadow-24">
    <div class="p-text-center">
        <h2 class="p-text-bold">Questionnaire, enquete de satisfaction </h2>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <h5>Vertical Checkbox</h5>
            <div class="p-field-checkbox">
                <p-radioButton name="city1" value="Chicago" [(ngModel)]="cities1" inputId="city1"></p-radioButton>
                <label for="city1">Chicago</label>
            </div>
            <div class="p-field-checkbox">
                <p-radioButton name="city2" value="Los Angeles" [(ngModel)]="cities1" inputId="city2"></p-radioButton>
                <label for="city2">Los Angeles</label>
            </div>

        </div>
        <div class="p-col">
            <h5>Vertical Checkbox</h5>
            <div class="p-field-checkbox">
                <p-radioButton name="city1" value="Chicago" [(ngModel)]="cities1" inputId="city1"></p-radioButton>
                <label for="city1">Chicago</label>
            </div>
            <div class="p-field-checkbox">
                <p-radioButton name="city2" value="Los Angeles" [(ngModel)]="cities1" inputId="city2"></p-radioButton>
                <label for="city2">Los Angeles</label>
            </div>

        </div>
        <div class="p-col">
            <h5>Vertical Checkbox</h5>
            <div class="p-field-checkbox">
                <p-radioButton name="city1" value="Chicago" [(ngModel)]="cities1" inputId="city1"></p-radioButton>
                <label for="city1">Chicago</label>
            </div>
            <div class="p-field-checkbox">
                <p-radioButton name="city2" value="Los Angeles" [(ngModel)]="cities1" inputId="city2"></p-radioButton>
                <label for="city2">Los Angeles</label>
            </div>

        </div>
        <div class="p-col">
            <h5>Vertical Checkbox</h5>
            <div class="p-field-checkbox">
                <p-radioButton name="city1" value="Chicago" [(ngModel)]="cities1" inputId="city1"></p-radioButton>
                <label for="city1">Chicago</label>
            </div>
            <div class="p-field-checkbox">
                <p-radioButton name="city2" value="Los Angeles" [(ngModel)]="cities1" inputId="city2"></p-radioButton>
                <label for="city2">Los Angeles</label>
            </div>
            <div class="p-field-checkbox">
                <p-radioButton name="city1" value="Chicago" [(ngModel)]="cities1" inputId="city1"></p-radioButton>
                <label for="city1">Chicago</label>
            </div>
            <div class="p-field-checkbox">
                <p-radioButton name="city2" value="Los Angeles" [(ngModel)]="cities1" inputId="city2"></p-radioButton>
                <label for="city2">Los Angeles</label>
            </div>

        </div>

    </div>
    <div class="p-text-center">
        <button pButton pRipple (click)="valider()" type="button" label="Valider" class="p-button-raised p-button-success"></button>
    </div>
</div>